name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
      
    runs-on: macos-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
         path: Pods
         key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
         restore-keys: |
          ${{ runner.os }}-pods-
    - name: Pod installation
      run: pod install
#     - name: Build
#       run: |
#         xcodebuild -workspace  Git\ Actions.xcworkspace -scheme Git\ Actions   ONLY_ACTIVE_ARCH=NO CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY=""  CODE_SIGNING_ALLOWED=NO
#       env: 
#          destination: ${{ matrix.destination }}


